<%- include('./layout/header.ejs'); %> 

    <div class="row">

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>11</h3>
                    <p>Total Orders</p>
                </div>
                <div class="icon">
                    <i class="fa fa-gift"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box" style="background-color: #00bea7;color: white;">
                <div class="inner">
                    <h3>22</h3>
                    <p>New Placed Orders</p>
                </div>
                <div class="icon">
                    <i class="fa fa-first-order"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>33</h3>
                    <p>Claimed Orders</p>
                </div>
                <div class="icon">
                    <i class="fa fa-database"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>10</h3>
                    <p>Delivered Orders</p>
                </div>
                <div class="icon">
                    <i class="fa fa-truck"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-fuchsia">
                <div class="inner">
                    <h3>1</h3>
                    <p>Total Users</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>4</h3>
                    <p>Total Flavors</p>
                </div>
                <div class="icon">
                    <i class="fa fa-map-pin"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-blue-active">
                <div class="inner">
                    <h3>6</h3>
                    <p>Total Greeting Cards</p>
                </div>
                <div class="icon">
                    <i class="fa fa-credit-card-alt"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>10</h3>
                    <p>Total Box Cards</p>
                </div>
                <div class="icon">
                    <i class="fa fa-address-card"></i>
                </div>
                <a href="" class="small-box-footer">View All</a>
            </div>
        </div>

    </div>
<%- include('./layout/footer.ejs'); %> 


<script type="text/javascript">
    
</script>

</body>
</html>